@model IEnumerable<TiendaIphone.Models.Iphone>
@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "Vendidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    <div class="img-container">
        <img src="~/lib/Images/logoBAiPhoneSINcelu.png" alt="Logo BAiPhone sin celular" />
    </div>
</center>

<h1> Registro de ventas | iPhones</h1>



<div class="card-body">

    <!--Formularios para eliminar datos-->
    @if (Model.Count() > 0)
    {
        <!--Muestra en una tabla los nombres de las columnas-->
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>@Html.DisplayNameFor(m => m.First().TiendaID)</th>
                <th>@Html.DisplayNameFor(m => m.First().IphoneID)</th>
                <th>@Html.DisplayNameFor(m => m.First().FechaAltaIphone)</th>
                <th>@Html.DisplayNameFor(m => m.First().Modelo)</th>
                <th>@Html.DisplayNameFor(m => m.First().EstadoIphone)</th>
                <th>@Html.DisplayNameFor(m => m.First().ColorIphone)</th>
                <th>@Html.DisplayNameFor(m => m.First().Descripcion)</th>
                <th>@Html.DisplayNameFor(m => m.First().Precio)</th>
                <th>@Html.DisplayNameFor(m => m.First().DisponibilidadIphone)</th>

                <th>Acciones</th>
            </tr>
            <!--Muestra en la misma tabla los resgistros de las columnas-->
            @foreach (var item in Model)
            {
                @if (item.DisponibilidadIphone == DisponibilidadiPhone.Agotado)
                {

                    <tr>
                        <td>@item.TiendaID</td>
                        <td>@item.IphoneID</td>
                        <td>@item.FechaAltaIphone.ToShortDateString()</td>
                        <td>@item.Modelo</td>
                        <td>@item.EstadoIphone</td>
                        <td>@item.ColorIphone</td>
                        <td>@item.Descripcion</td>
                        <td>US$ @item.Precio</td>
                        <td>@item.DisponibilidadIphone</td>


                        <td>
                            <!--Acciones de edicion y eliminado-->
                            @if (User.IsInRole("admin") || User.IsInRole("SuperAdmin"))
                            {

                                <a asp-route-id="@item.IphoneID"
                   asp-action="Recuperar"
                   asp-asp-controller="Iphone"
                   class="btn btn-success" style=" margin-top:3px">Recuperar artículo</a>
                            }



                        </td>

                    </tr>
                }

            }
        </table>

        <!--Respuesta por defecto-->
    }
    else
    {
        <p> Aún no se han registrado ventas en el sistema.</p>
    }
</div>
