@model IEnumerable<TiendaIphone.Models.AccesoriosiPhone>
@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    <div class="img-container">
        <img src="~/lib/Images/logoBAiPhoneSINcelu.png" alt="Logo BAiPhone sin celular" />
    </div>
</center>

<h1> Sistema de gestión | Accesorios iPhone</h1>
@if (User.IsInRole("admin") || User.IsInRole("SuperAdmin"))
{
    <div>
        <a class="btn btn-secondary" style="background-color:green" asp-area="" asp-controller="Accesorios" asp-action="Guardar">Añadir nuevo Accesorio</a>
    </div>
}


<div class="card-body">

    <!--Formularios para eliminar datos-->
    @if (Model.Count() > 0)
    {
        <!--Muestra en una tabla los nombres de las columnas-->
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>@Html.DisplayNameFor(m => m.First().AccesorioID)</th>
                <th>@Html.DisplayNameFor(m => m.First().Modelo)</th>
                <th>@Html.DisplayNameFor(m => m.First().EstadoAccesorio)</th>
                <th>@Html.DisplayNameFor(m => m.First().ColorAccesorio)</th>
                <th>@Html.DisplayNameFor(m => m.First().Descripcion)</th>
                <th>@Html.DisplayNameFor(m => m.First().Precio)</th>          
                <th>Acciones</th>
            </tr>
            <!--Muestra en la misma tabla los resgistros de las columnas-->
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AccesorioID</td>
                    <td>@item.Modelo</td>
                    <td>@item.EstadoAccesorio</td>
                    <td>@item.ColorAccesorio</td>
                    <td>@item.Descripcion</td>
                    <td>US$ @item.Precio</td>
                    <td>
                        <!--Acciones de edicion y eliminado-->
                        @if (User.IsInRole("admin") || User.IsInRole("SuperAdmin"))
                        {

                            <a asp-route-id="@item.AccesorioID"
                   asp-action="Editar"
                   asp-asp-controller="Accesorios"
                   class="btn btn-secondary" >Editar</a>

                        }

                        @if (User.IsInRole("SuperAdmin"))

                        {
                            <a asp-route-id="@item.AccesorioID"
                            
                   asp-action="Eliminar"
                   asp-controller="Accesorios"
                   class ="btn btn-secondary" style="background-color:red">Eliminar</a>


                        }

                    </td>

                </tr>
                
            }
        </table>
       
        <!--Respuesta por defecto-->
    }
    else
    {
        <p> Registro de Accesorios vacío.</p>
    }
</div>
