@model IEnumerable<TiendaIphone.Models.AccesoriosiPhone>
@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "Vendidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    <div class="img-container">
        <img src="~/lib/Images/logoBAiPhoneSINcelu.png" alt="Logo BAiPhone sin celular" />
    </div>
</center>

<h1> Registro de ventas | Accesorios </h1>



<div class="card-body">

    <!--Formularios para eliminar datos-->
    @if (Model.Count() > 0)
    {
        <!--Muestra en una tabla los nombres de las columnas-->
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>@Html.DisplayNameFor(m => m.First().TiendaAccesorioID)</th>
                <th>@Html.DisplayNameFor(m => m.First().AccesorioID)</th>
                <th>@Html.DisplayNameFor(m => m.First().FechaAlta)</th>
                <th>@Html.DisplayNameFor(m => m.First().Modelo)</th>
                <th>@Html.DisplayNameFor(m => m.First().EstadoAccesorio)</th>
                <th>@Html.DisplayNameFor(m => m.First().ColorAccesorio)</th>
                <th>@Html.DisplayNameFor(m => m.First().Descripcion)</th>
                <th>@Html.DisplayNameFor(m => m.First().Precio)</th>
                <th>@Html.DisplayNameFor(m => m.First().DisponibilidadAccesorio)</th>

                <th>Acciones</th>
            </tr>
            <!--Muestra en la misma tabla los resgistros de las columnas-->
            @foreach (var item in Model)
            {
                @if (item.DisponibilidadAccesorio == Disponibilidad.Agotado)
                {

                    <tr>
                        <td>@item.TiendaAccesorioID</td>
                        <td>@item.AccesorioID</td>
                        <td>@item.FechaAlta.ToShortDateString()</td>
                        <td>@item.Modelo</td>
                        <td>@item.EstadoAccesorio</td>
                        <td>@item.ColorAccesorio</td>
                        <td>@item.Descripcion</td>
                        <td>US$ @item.Precio</td>
                        <td>@item.DisponibilidadAccesorio</td>


                        <td>
                            <!--Acciones de edicion y eliminado-->
                            @if (User.IsInRole("admin") || User.IsInRole("SuperAdmin"))
                            {

                          
                                <a asp-route-id="@item.AccesorioID"
                   asp-action="Recuperar"
                   asp-asp-controller="Accesorios"
                   class="btn btn-success" style="margin-top:3px">Recuperar artículo</a>

                            }

                        </td>

                    </tr>
                }

            }
        </table>

        <!--Respuesta por defecto-->
    }
    else
    {
        <p> Aún no se han registrado ventas en el sistema.</p>
    }
</div>
